@import "function";
@import "var";
@import "mixin";

.tweet-pub {
  .textarea-wrapper {
    outline: none;
    padding: px2rem(30px);
    font-size: px2rem(28px);
    max-height: 60vh;
    overflow-y: auto;
    margin-top:px2rem(-75px);
    padding-top:px2rem(105px);
    img{
      display: none;
    }
    &.placeholder {
      &:before {
        content: "今天想动弹什么？";
        color: #999999;
      }
    }
  }
  .tweet-operate-wrapper {
    @include borderPart(#ddd,top);
    position: fixed;
    left: 0;
    bottom: 0;
    max-width: 750px;
    width: 100%;
    background-color: #fff;
    height: px2rem(100px);
    display: flex;
    li {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 2;
      overflow: hidden;
      i {
        font-size: px2rem(40px);
        color: #999999;
      }
      input[type="file"] {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        z-index: 3;
      }
    }
  }
  .tweet-imgs{
    padding:px2rem(30px);
  }
}
